* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

.main-content {
    width: 100%;
    padding: 0 20px;
}