.form-login {
    width: 51rem;
    margin: 10rem auto 0;
    padding: 13rem;
    background-color: white;
    border-radius: 6px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.form-login form input {
    padding: 1.3rem;
    border-radius: 4px;
    border: .5px solid #8A8A8A;
    width: 100%;
    outline: none;
    margin-top: 10px;
}