@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,300&display=swap');

/* css base */
@import url("./base/reset.css");
@import url("./base/variables.css"); 

/* css main layout */
@import url("./mainLayout.css");

/* nav side */
@import url("./nav.css");

/* login */
@import url("./login.css");

/* các component sẵn  */
@import url("./components/button.css");
