.nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 2.6rem;
    border-bottom: 1px solid #BDBDBD;
}

.nav-top img {
    width: 6.5rem; 

}

.nav ul li {
    padding: 1.2rem 4rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.nav ul li:hover {
    background-color: var(--bg-hover);
    cursor: pointer;
}

.nav ul li a {
    color: var(--text-color-primary);
    text-decoration: none;
}