.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 2.6rem;
    border-bottom: 1px solid #BDBDBD;
}

.nav-top img {
    width: 6.5rem; 

}

.nav ul li {
    padding: 1.2rem 4rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
    border-bottom: .5px solid #343249;
}

.nav ul li:hover, .logout:hover {
    background-color: var(--bg-hover);
    cursor: pointer;
}

.nav ul li a {
    color: var(--text-color-primary);
    text-decoration: none;
    padding-left: 2rem;
    font-weight: 700;
    font-size: 1.4rem;
}

.nav img {
    color: white;
}

.form-login {
    width: 300px;
    background: red;
}

.logout {
    padding: 1.2rem 4rem;
    text-align: center;
    border-top: 1px solid #BDBDBD;
}

.logout {
    text-decoration: none;
    color: var(--text-color-primary);
    font-weight: 700;
}

.logout:hover {
    background-color: rgb(233, 83, 83);
}