.btn {
    display: block;
    padding: 1rem 0;
    width: 25rem;
    border-radius: 4px;
    background-color: var(--bg-btn);
    outline: none;
    border: none;
    color: var(--text-color-primary);
    font-weight: 600;
    margin: 2rem 0 .5rem;
}