.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    }

.modal-content {
    background: white;
    width: 400px;
    padding: 20px;
    border-radius: 6px;
    margin: 15% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.modal-content input, .modal-content #student-idClass-edit{
    width: 20rem;
    padding: 10px;
    outline: none;
    border-radius: 4px;
    margin-top: 5px;
    border: 1px solid rgb(171, 167, 167);
    margin-left: 1rem;
}

.modal-content strong {
    display: inline-block;
    width: 20rem;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid rgb(171, 167, 167);
    margin-top: 5px;
    margin-left: 1rem;
}

.modal-content span {
    width: 10rem;
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    text-align: right;
}

.modal-content h3 {
    font-size: large;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}

.close {
    background-color: rgb(245, 56, 56);
    margin-top: .5rem;
}