.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    }

.modal-content {
    background: white;
    width: 320px;
    padding: 20px;
    border-radius: 6px;
    margin: 15% auto;
}